/* ---------------------------------
 *            Buttons
 * --------------------------------- */
.button
    &.is-transparent
        color: #F19EC2
        background: transparent
        border-color: #F19EC2
