.widget, .footer
    background-color rgba(255, 255, 255, 0.7)
.is-3-column
    background-image url("https://s2.loli.net/2023/01/27/VxwoTavOpZ3t5ri.png")
    background-position center center
    background-repeat no-repeat
    background-attachment fixed
    background-size cover